<div class="container my-4">
<h1 class="mb-3">Employees</h1>

<table class="table table-hover table-borderless table-striped" *ngIf="employees && employees.length > 0">
<thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Status</th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let employee of employees">
        <td>{{ employee.empID }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.address }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.isActive }}</td>
        <td><button type="submit" 
            class="btn btn-secondary" 
            [routerLink]="['/employees','edit',employee.empID]">View
        </button></td>
    </tr>
</tbody>
</table>
<p *ngIf="!employees || employees.length <= 0">No Employee Found</p>
</div>