<div class="container my-4">
<h1 class="mb-3">Employees</h1>
<div class="search">
    <input class="form-control" type="search"  name="search" [(ngModel)]="searchText" (input)="searchText" placeholder="Search" >
</div>

<table class="table table-hover table-borderless table-striped" *ngIf="employees && employees.length > 0">
<thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact no.</th>
        <th>Address</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Status</th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let employee of employees  | filter:searchText | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
        <td>{{ employee.empID }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.mobile }}</td>
        <td>{{ employee.address }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.isActive }}</td>
        <td><button type="submit" 
            class="btn btn-secondary" 
            [routerLink]="['/employees','edit',employee.empID]">View
        </button></td>
    </tr>
</tbody>
<div class="mt-8 py-2 flex justify-center item-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<button type="button"(click)="download()" class="btn btn-success"><i class='fas fa-file-excel fa-lg'>Download Excel</i></button>
</table>
<br>
<p *ngIf="!employees || employees.length <= 0">No Employee Found</p>

</div>