<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="employees/user">Employee.IO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" (click)="Logout()">Logout</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>

<h1>Hello!! Welcome Back.</h1>
<h2>Below is your Profile Details</h2>
<div class="card m-5" style="width:25rem" *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item"><strong>UserID :</strong> {{userDetails.userId}} </li>
    <li class="list-group-item"><strong>Username :</strong> {{userDetails.username}} </li>
    <li class="list-group-item"><strong>Email :</strong> {{userDetails.email}} </li>
    <li class="list-group-item"><strong>Role :</strong> {{userDetails.role}} </li>
  </ul>
</div>
